➢ Write a function in python to add 2 numbers

In [1]:
def add(x,y):
    z = x + y
    return z

In [2]:
add(3,5)

8

In [3]:
add(1.5,2.5)

4.0

➢ Write a function in python to output cube of a given number

In [4]:
def cube(x):
    z = x**3
    return z

In [5]:
cube(3)

27

In [6]:
cube(11)

1331

In [7]:
11*11*11

1331

➢ Write a function in python to output cube of given numbers from a list.

In [14]:
def list_cube(list):
    a = []
    for i in list:
        cube = i**3
        a.append(cube)
    return a

In [15]:
list_cube([1,2,3])

[1, 8, 27]

In [16]:
list_cube([10,11,9])

[1000, 1331, 729]

➢ Write a function in python to calculate sum of all elements inside a list

In [5]:
def list_sum(list):
    sum = 0
    for i in list:
        sum = sum + i
    return sum

In [6]:
list_sum([2,5,7])

14

In [7]:
list_sum([10,5,20])

35

➢ Write a function in python to calculate product of all elements inside a list.

In [10]:
def list_product(list):
    p = 1
    for i in list:
        p = p * i
    return p

In [11]:
list_product([5,4,3])

60

In [12]:
list_product([10,12,4])

480

➢ Write a function in python to calculate hypotenuse of a right angled triangle.

$ c^2 = a^2 + b^2 $

In [16]:
def hypotenuse(a,b):
    c = (a**2 + b**2)**(1/2)
    return c

In [18]:
h1 = hypotenuse(3,4)
h1

5.0

In [20]:
h2 = hypotenuse(10,11)
h2

14.866068747318506

➢Write a function in python which takes 3 sides and determines whether 3 sides form triangle or not.

In [22]:
def is_triangle(a,b,c):
    if (a+b)>c and (b+c)>a and (a+c)>b:
        s = True
    else:
        s = False
    return s

In [23]:
is_triangle(3,4,5)

True

In [24]:
is_triangle(10,11,12)

True

In [25]:
is_triangle(1,2,3)

False

➢ Write a function in python that calculates area of triangle when 3 sides are given.

In [26]:
def area_triangle(a,b,c):
    if is_triangle(a,b,c)==True:
        s = (a+b+c)/2
        ar = (s*(s-a)*(s-b)*(s-c))**(1/2)
    else:
        ar = None
        print(f'The given sides {a}, {b} and {c} Do not form a triangle')
    return ar

In [28]:
t1 = area_triangle(3,4,5)
t1

6.0

In [29]:
t2 = area_triangle(11,12,13)
t2

61.48170459575759

➢ Write 2 functions to convert temperature to Celsius and Farenheit with names
celsius_to_farenheit and farenheit_to_celsius.

In [34]:
def cel_fer(c):
    f = (c * (9/5)) + 32
    return f

In [35]:
cel_fer(35)

95.0

In [36]:
cel_fer(40)

104.0

In [37]:
def fer_cel(f):
    c = (f - 32)*(5/9)
    
    return c

In [38]:
fer_cel(104)

40.0

In [39]:
fer_cel(212)

100.0

➢ Write a function to calculate factorial of given number

In [42]:
def factorial(num):
    if num == 0:
        f = 1
    else:
        f = 1
        for i in range(1,num+1):
            f = f * i
    return f

In [43]:
factorial(5)

120

In [44]:
factorial(11)

39916800

➢ Write a function to count vowels from a given word (A , E, I , O, U)

In [45]:
def vowel_counter(st):
    v = 0
    for i in st.lower():
        if i in 'aeiou':
            v = v + 1
    return v

In [48]:
vowel_counter('ETLHive')

3

In [52]:
vowel_counter('Good Evening')

5

For given P INR, N in Years and R in %p.a. calculate EMI (Equal Monthly Installements)

![Alt text](image.png)

In [53]:
def EMI_calculator(P,N,R):
    # convert N from years to month
    n = N * 12
    
    # convert R from %p.a. to % p.m.
    r = R/(12*100)
    
    # EMI Calculation
    
    x = (1+r)**n 
    EMI = P*r*x/(x-1)
    
    return round(EMI)

In [54]:
E1 = EMI_calculator(P=500000,N=3,R=12.5)
E1

16727

In [55]:
E2 = EMI_calculator(P=800000,N=5,R=15)
E2

19032

➢ Write a function to output grade of a student based on below criteria(Take marks as list input)

• More than 90 : A
• 80-89 : B
• 70-79 : C
• 60-69 : D
• Below 60 : F

In [57]:
def get_grades(*marks):
    gr = []
    for i in marks:
        if i>=90:
            gr.append('A')
        elif i>=80 and i<=89:
            gr.append('B')
        elif i>=70 and i<=79:
            gr.append('C')
        elif i>=60 and i<=69:
            gr.append('D')
        else:
            gr.append('F')
    return gr

In [59]:
s1 = get_grades(78)
s1

['C']

In [60]:
s = get_grades(96,45,75,63,30,81)

In [61]:
s

['A', 'F', 'C', 'D', 'F', 'B']

### ➢ Write a function to analyze student marks as below
 * Take a list of marks from 0-100 in list form
 * Find average marks
 * Find highest marks
 * Find Lowest marks
 * Find number of Students passed (Marks>=60)
 * Find number of Students failed (Marks<60)
 * Return above in dictionary format

In [1]:
def analyze_marks(*marks):
    # Find average of marks
    s = sum(marks)
    c = len(marks)
    avg = s/c
    
    # Find highest marks
    high = max(marks)
    
    # Find lowest marks
    low = min(marks)
    
    # Number of students passed and failed
    p = 0
    f = 0
    for i in marks:
        if i>= 60:
            p = p + 1
        else:
            f = f + 1
            
    # Create a dictionary
    dct = {'Average' : [avg],
           'Highest' : [high],
           'Lowest' : [low],
           'nPass' : [p],
           'nFail' : [f]}
    
    # Convert dct to dataframe
    import pandas as pd
    
    df = pd.DataFrame(dct)
    
    return df

In [2]:
analyze_marks(35,78,93,85,86,62,56,65)

   Average  Highest  Lowest  nPass  nFail
0     70.0       93      35      6      2

#### Use of arguments in functions *args

In [21]:
def arguments(*args):
    for i in args:
        print(i)

In [22]:
arguments(4,5,8,10,11,15)

4
5
8
10
11
15

In [23]:
def add_many(*nums):
    # Initialize sum to 0
    s = 0
    # Apply for loop on nums
    for i in nums:
        s = s + i
    return s

In [24]:
add_many(2,10)

12

In [25]:
add_many(0.5,2.5,10.5)

13.5

#### Keyword arguments

In [26]:
dct = {101:'Brinda',
       102:'Meera',
       103:'Nitin',
       104:'Dev'}

In [27]:
dct.keys()

dict_keys([101, 102, 103, 104])

In [28]:
dct.values()

dict_values(['Brinda', 'Meera', 'Nitin', 'Dev'])

In [29]:
dct.items()

dict_items([(101, 'Brinda'), (102, 'Meera'), (103, 'Nitin'), (104, 'Dev')])

In [30]:
def keyword_args(**kwargs):
    for key,value in kwargs.items():
        print(f'{key} : {value}')

In [31]:
keyword_args(name='Brinda',age=35,gender='Female',married=True)

name : Brinda
age : 35
gender : Female
married : True

In [32]:
def create_user(**kwargs):
    user = {'username' : '',
            'email': '',
            'age':20,
            'gender':''}
    user.update(kwargs)
    return user

In [34]:
user1 = create_user(username='brindas1',email='brinda123@gmail.com',age=31,gender='F')

In [35]:
user1

{'username': 'brindas1',
 'email': 'brinda123@gmail.com',
 'age': 31,
 'gender': 'F'}

#### Decorator functions

In [3]:
def hello_world():
    print('Hello world!')

In [4]:
hello_world()

Hello world!

In [5]:
def welcome_decorator(func):
    def wrapper(*args,**kwrgs):
        print('Welcome to my Program')
        func(*args,**kwrgs)
        print('Thank you for using my Program')
    return wrapper

In [6]:
@welcome_decorator
def hello_world1():
    print('Hello World!')

In [7]:
hello_world1()

Welcome to my Program
Hello World!
Thank you for using my Program

In [8]:
@welcome_decorator
def random_addition():
    a = 32
    b = 42
    print(f'Addition of {a} and {b} is {a+b}')

In [9]:
random_addition()

Welcome to my Program
Addition of 32 and 42 is 74
Thank you for using my Program

#### Calculate execution time of given code

In [10]:
import time

In [11]:
time.time()

1694749076.929462

In [12]:
dir(time)

['_STRUCT_TM_ITEMS',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'altzone',
 'asctime',
 'ctime',
 'daylight',
 'get_clock_info',
 'gmtime',
 'localtime',
 'mktime',
 'monotonic',
 'monotonic_ns',
 'perf_counter',
 'perf_counter_ns',
 'process_time',
 'process_time_ns',
 'sleep',
 'strftime',
 'strptime',
 'struct_time',
 'thread_time',
 'thread_time_ns',
 'time',
 'time_ns',
 'timezone',
 'tzname']

In [13]:
time.time_ns()

1694749116796165700

In [14]:
def time_decorator(func):
    def wrapper(*args,**kwargs):
        t1 = time.time_ns()
        func(*args,**kwargs)
        t2 = time.time_ns()
        tr = t2 - t1
        print(f'Time required for execution of this code is {tr}')
        return func(*args,**kwargs)
    return wrapper

In [15]:
@time_decorator
def square_list(n):
    sq = []
    for i in range(1,n+1):
        sq.append(i*i)
    return sq

In [16]:
sq1 = square_list(1000000)

Time required for execution of this code is 261840500

In [17]:
@time_decorator
def calculate_EMI(P,N,R):
    # Convert N from Years to Months
    n = N * 12
    
    # Convert R from %p.a. to %p.m.
    r = R/(12*100)
    
    # EMI calculation
    x = (1+r)**n 
    EMI = P*r*x/(x-1)
    
    return round(EMI)

In [18]:
calculate_EMI(P = 1000000,N=10,R=16)

Time required for execution of this code is 0

16751

In [19]:
e2 = calculate_EMI(P=1000000,N=10,R=16)

Time required for execution of this code is 0

In [20]:
e2

16751